# SPDX-FileCopyrightText: Copyright (c) 2026, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# Default ownership for repository files.
* @nat-developers

# Project configurations and lockfiles require dependency approver review.
Cargo.toml @nat-dep-approvers
Cargo.lock @nat-dep-approvers

pyproject.toml @nat-dep-approvers
uv.lock @nat-dep-approvers

package.json @nat-dep-approvers
package-lock.json @nat-dep-approvers
